<div class="card clickable" id={{post.id}}>
  <div class="row g-0">
    <div class="col-md-4">
      {% if post.image_link == "/default.png" or not post.image_link %}
        <img class="img-fluid img-cover" src="{{request.scheme}}://{{request.get_host}}/static/img/default.png" alt="Image Unavailable">
      {% else %}
        <img class="img-fluid img-cover" src="{{ post.image_link }}" alt="Image Unavailable">
      {% endif %}
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <div class="d-flex flex-row gap-2">
          <div>
              <h4 class="card-title bold">{{ post.beneficiary_location }}{{ post.source_account }}</h4>
          </div>
          {%if post.campaign_type %}
          <div>
              <span class="px-2 campaign-modal-tag">{{post.campaign_type.value|title}}</span>
            </div>
          {% endif %}
        </div>
        <div class="row p-2">
          <div class="card-text  text-truncate">
            {{ post.description }}
          </div>
        </div>
        <a href="{{post.link}}" class="btn btn-primary dr-btn">
          {% if 'volunteer' in post.campaign_type.value %} {{"VOLUNTEER"}} {% else %} {{"DONATE"}} {% endif %}
        </a>
      </div>
    </div>
  </div>
</div>
