<!-- Modal -->
<div
  class="modal fade"
  data-backdrop=""
  id="campaign-dtl-modal"
  tabindex="-1"
  aria-labelledby="campaign-dtl-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header d-sm-none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0" id="campaign-modal-body"></div>
    </div>
  </div>
</div>
