{% extends "base.html" %}
{% block content %}
{% load static %}

<script src="{% static 'js/campaign_list.js' %}" defer></script>
  {% include "campaign_detail_modal.html" %}
  <div class="main-content">
    {% include "utility_bar.html" %}
    
    {% if posts_list %}
      <div class="listview-container">
        <ul class="container-sm d-grid gap-4">
          {% for post in posts_list %}
          <li class="row">
            <div
              class="d-flex flex-row card p-3"
              data-bs-toggle="modal"
              data-bs-target="#campaign-dtl-modal"
              id={{post.id}}>
              <div class="col">
                {% if post.image_link %}
                  <img class="landscape " src="{{ post.image_link }}" alt="Image Unavailable">
                {% else %}
                  <img class="landscape" src="{% static 'img/default.png' %}" alt="Image Unavailable">
                {% endif %}
              </div>
              <div class="col text-wrap">
                <h4 class="card-title bold"><b>{{ post.beneficiary_location }}{{ post.source_account }}</b></h4>
                <p>{{ post.description }}</p>
                <a class="btn btn-primary dr-btn" href="{{post.link}}">DONATE</a>
              </div>
            </div>
          </li>
          {% endfor %}
      </div>
      </ul>
    {% else %}
      <p>No posts are available.</p>
    {% endif %}
  </div>
{%endblock content%}
