{% extends "base.html" %}
{% block content %}
{% load static %}
{% load templatetags %}
{% include "campaign_detail_modal.html" %}
{% include "utility_bar.html" %}

<script src="{% static 'js/campaign_list.js' %}" defer></script>

<div class="container-fluid px-2 main-content">
  {% if posts_list %}
    <div class="container-fluid p-0 listview-container">
      <ul class="container-sm list-container">
        {% for post in posts_list %}
          <li class="card p-3 mb-2 mb-sm-4">
            {% include "campaign_card.html" %}
          </li>
        {% endfor %}

        {% if page_obj.has_next %}
            <p class="pagination">
                <a class="next-page" href="?{% param_replace page=page_obj.next_page_number %}">More...</a>
            </p>
        {% endif %}
      </ul>
    </div>
  {% else %}
    <div class="listview-container">
        <h4>No posts are available.</h4>
    </div>
  {% endif %}
</div>

<!-- jQuery CDN hosted by Google -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jScroll plug-in CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>

<script>
  jQuery(function ($) {
      var $list = $('.list-container');
      $list.jscroll({
          loadingHtml: '<div class="text-center">' +
              '<img src="{% static 'img/loading.gif' %}" alt="Loading" />' +
              '</div>',
          padding: 100,
          pagingSelector: '.pagination',
          nextSelector: 'a.next-page:last',
          contentSelector: '.row,.pagination'
      });


      $list.on('click', '.clickable', function (event){
        getById($(this).attr('id'));
      });

  });
</script>

{%endblock content%}
