<form method='GET'>
  <div class="container-sm flex-sm-nowrap py-5 px-4" id="utility-bar">
    <div class="row row-cols-1 d-flex gap-3">
      <input class="p-2 col-sm-3 fw-bold" type="text" name="description" placeholder="Search" id="search" value='{{ request.GET.description }}'>
      <input class="p-2 col-sm-3 fw-bold" type="text" name="campaign_type" placeholder="Type" id="campaign_type" value='{{ request.GET.campaign_type }}'>
      <input class="p-2 col-sm-3 fw-bold" type="text" name="beneficiary_location" placeholder="Location" id="campaign_location" value='{{ request.GET.beneficiary_location }}'>
      <input class="btn btn-primary dr-btn col-sm-2 fw-bold " type="submit" value="SEARCH">
    </div>
  </div>
</form>